PORT=3000

CONNECTION_STRING=mongodb://Gurami:1L10sp0T@ac-qxmbkvf-shard-00-00.yeqjpmi.mongodb.net:27017,ac-qxmbkvf-shard-00-01.yeqjpmi.mongodb.net:27017,ac-qxmbkvf-shard-00-02.yeqjpmi.mongodb.net:27017/?ssl=true&replicaSet=atlas-aemb73-shard-0&authSource=admin&appName=BrewBlissCluster

BCRYPT_PEPPER=Gurami123

JWT_SECRET_KEY=123Gurami

MAIL_SENDER_EMAIL=g.gorgadze111@gmail.com
MAIL_SENDER_PASS=fbtaxxqpskuvtclq

JWT_RESET_PASS_SECRET_KEY=BrewBlissReset123Gurami

GOOGLE_CLIENT_ID=http://83341918532-qvsk08s316grfeu3n0ng6720p9osu7i6.apps.googleusercontent.com/
GOOGLE_CLIENT_SECRET=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

CLIENT_URL=https://brew-bliss.onrender.com

GROQ_API_KEY=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