@use '../abstracts' as *;

.auth-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .auth {
    display: flex;
    flex-direction: column;
    background-color: $color-white;
    width: calc(540px * var(--app-scale));
    border-radius: calc(10px * var(--app-scale));
    box-sizing: border-box;
    padding: calc(50px * var(--app-scale));
    margin: calc(40px * var(--app-scale));

    &__title {
      font-size: calc(30px * var(--app-scale));
      font-weight: 500;
    }

    &__error {
      color: $color-accent;
    }

    &__form {
      display: flex;
      flex-direction: column;

      &__item {
        display: flex;
        flex-direction: column;

        &__label {
          font-size: calc(14px * var(--app-scale));
          margin: calc(10px * var(--app-scale)) 0;

          .required {
            color: $color-accent;
          }
        }

        &__input {
          height: calc(50px * var(--app-scale));
          border: calc(1px * var(--app-scale)) solid $border-default;
          border-radius: calc(12px * var(--app-scale));
          outline: none;
          padding: 0 calc(20px * var(--app-scale));

          &:focus {
            border: calc(1px * var(--app-scale)) solid $color-accent;
          }

          &::placeholder {
            color: $text-primary;
          }
        }

        &__error {
          height: calc(15px * var(--app-scale));
          font-size: calc(13px * var(--app-scale));
          color: $color-accent;
          margin: calc(5px * var(--app-scale)) 0;
        }
      }

      &__forgot-password {
        font-size: calc(14px * var(--app-scale));
        font-weight: 500;
        transition: 0.3s;
        cursor: pointer;
        width: 100%;
        margin-top: calc(5px * var(--app-scale));
        margin-bottom: calc(15px * var(--app-scale));

        &:hover {
          color: $color-accent;
        }
      }

      &__submit {
        height: calc(50px * var(--app-scale));
        border: none;
        border-radius: calc(5px * var(--app-scale));
        transition: 0.6s;
        cursor: pointer;
        font-size: calc(14px * var(--app-scale));
        background-color: $color-accent;
        margin-top: calc(15px * var(--app-scale));

        &:hover {
          background-color: $color-accent-hover;
          color: $color-white;
        }
      }

      &__register {
        height: calc(50px * var(--app-scale));
        border: calc(2px * var(--app-scale)) solid $color-accent;
        border-radius: calc(5px * var(--app-scale));
        transition: 0.6s;
        cursor: pointer;
        font-size: calc(15px * var(--app-scale));
        background-color: transparent;
        width: 100%;
        margin-top: calc(15px * var(--app-scale));
        color: $text-primary;

        &:hover {
          background-color: $color-accent;
          color: $color-white;
        }
      }

      .auth__form__google {
        display: flex;
        height: calc(50px * var(--app-scale));
        align-items: center;
        justify-content: center;
        gap: calc(10px * var(--app-scale));
        width: 100%;
        border: calc(1px * var(--app-scale)) solid #ddd;
        border-radius: calc(5px * var(--app-scale));
        background: white;
        cursor: pointer;
        font-size: calc(14px * var(--app-scale));
        margin-top: calc(15px * var(--app-scale));
        transition: 0.3s ease;

        img {
          width: calc(18px * var(--app-scale));
          height: calc(18px * var(--app-scale));
        }

        &:hover {
          background: #f0efef;
        }
      }
    }

    &__reset-text {
      font-size: calc(15px * var(--app-scale));
      margin: calc(15px * var(--app-scale)) 0;
      color: $border-default;
    }
  }
}

@media (max-width: 768px) {
  .auth-wrapper {
    .auth {
      width: 90%;
      padding: 50px 20px;
    }
  }
}
