@use '../abstracts' as *;

.checkout {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;

  &__left {
    background-color: $color-white;
    border-right: $border-checkout 1px solid;
    padding: 80px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    form {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }

    &--btn {
      background-color: $color-checkout-active;
      border: none;
      padding: 16px;
      width: 100%;
      color: $color-white;
      border-radius: 10px;
      font-size: 16px;
      font-weight: 900;
      transition: 0.5s ease;
      cursor: pointer;

      &:hover {
        background-color: $color-checkout-hover;
      }
    }
  }

  &__right {
    background-color: $bg-checkout;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    gap: 5px;
    position: relative;

    .wrapper {
      position: sticky;
      top: 100px;
      margin-bottom: 50px;
    }

    &--product {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 70%;
      margin-left: 50px;
      margin-bottom: 15px;

      .left {
        display: flex;
        align-items: center;
        gap: 10px;

        &__img-wrapper {
          height: 60px;
          width: 60px;
          border: $color-white 3px solid;
          border-radius: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          background-color: $bg-checkout;
          filter: drop-shadow(
            calc(10px * var(--app-scale)) calc(10px * var(--app-scale))
              calc(30px * var(--app-scale)) rgba(0, 0, 0, 0.1)
          );
        }

        &__img {
          height: 100%;
        }

        &__quantity {
          background-color: $text-primary;
          color: $color-white;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 16px;
          height: 16px;
          border-radius: 5px;
          position: absolute;
          top: -5px;
          right: -5px;
          font-size: 13px;
        }

        &__info {
          display: flex;
          flex-direction: column;
          gap: 5px;
          width: 100% &--title {
            font-size: 16px;
            color: $text-primary;
          }

          &--desc {
            color: $text-desc;
            font-size: 12px;
            width: 170px;
          }
        }
      }

      .right-price {
        font-size: 16px;
        color: $text-primary;
        font-weight: 400;
      }
    }

    &--row {
      display: flex;
      justify-content: space-between;
      width: 70%;
      margin-left: 50px;
      margin-top: 10px;

      p {
        font-size: 14px;
      }

      h6 {
        font-weight: 900;
        font-size: 18px;
        margin-top: 10px;

        span {
          font-size: 12px;
          color: $text-desc;
          margin-right: 5px;
        }
      }
    }
  }
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__title {
    font-size: 18px;
    font-weight: 600;
    color: $text-primary;
  }
}

.delivery {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__title {
    font-size: 18px;
    font-weight: 600;
    color: $text-primary;
  }

  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
}

.payment {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__title {
    font-size: 18px;
    font-weight: 600;
    color: $text-primary;
  }

  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
}

.float-field {
  position: relative;

  &__input {
    width: 100%;
    padding: 22px 14px 8px;
    border: 1px solid $border-checkout;
    border-radius: 6px;
    font-size: 14px;
    color: $text-primary;
    background: $color-white;
    transition: 0.2s;
    outline: none;
    box-sizing: border-box;

    &:focus {
      border: $color-checkout-active 2px solid;
    }

    &.error {
      border-color: $text-checkout-error;

      &:focus {
        border: $text-checkout-error 2px solid;
      }
    }
  }

  &__label {
    position: absolute;
    left: 14px;
    top: 26px;
    transform: translateY(-50%);
    font-size: 14px;
    color: $text-desc;
    pointer-events: none;
    transition: 0.2s;
  }

  &__input:focus + &__label,
  &__input:not(:placeholder-shown) + &__label {
    top: 10px;
    transform: none;
    font-size: 11px;
  }

  &__icon {
    position: absolute;
    right: 0px;
    top: 26px;
    transform: translateY(-50%) translateX(-20px);
    color: $text-desc;
    font-size: 16px;
    pointer-events: none;

    &--action {
      pointer-events: all;
      cursor: pointer;
      color: #4f6ef7;
    }
  }

  &__error {
    height: 15px;
    font-size: 13px;
    color: $text-checkout-error;
    margin: 5px 0;
  }
}

@media (max-width: 1024px) {
  .checkout {
    display: flex;
    flex-direction: column;

    &__right {
      .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      &--product {
        margin-left: 0;
      }

      &--row {
        margin-left: 0;
      }
    }
  }
}

@media (max-width: 768px) {
  .checkout {
    &__left {
      padding: 80px 20px;
    }

    &__right {
      &--product {
        width: 90%;
      }

      &--row {
        width: 90%;
      }
    }
  }
}

@media (max-width: 425px) {
  .checkout {
    &__left {
      padding: 80px 10px;
    }

    &__right {
      &--product {
        width: 93%;
      }

      &--row {
        width: 93%;
      }
    }
  }

  .float-field {
    &__error {
      height: 10px;
      font-size: 10px;
    }

    &__label {
      font-size: 10px;
    }
  }
}
