.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title-wrapper {
    width: 100%;
  }

  &__hero-title {
    display: flex;
    align-items: center;
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-cl-btn-p-n-hover);
    margin-top: calc(80px * var(--app-scale));
    width: 80%;
    gap: calc(20px * var(--app-scale));
  }

  &__image {
    height: calc(150px * var(--app-scale));
  }

  &__heading {
    color: var(--color-main);
    font-weight: 500;
    font-size: calc(20px * var(--app-scale));
    margin-top: calc(10px * var(--app-scale));
  }

  &__text {
    color: var(--color-border);
    text-align: center;
    font-size: calc(13px * var(--app-scale));
  }

  &__btn {
    width: calc(200px * var(--app-scale));
  }
}