.title-wrapper {
    height: 300px;
    background-size: cover;
    background-position-y: 330px;
    display: flex;
    justify-content: center;
    align-items: center;

    .title {
        display: flex;

        p {
            font-size: 38px;
            color: white;
            margin: 5px;
        }
    }
}