@use '../abstracts' as *;

.wishlist-wrapper {
  .wishlist {
    display: flex;
    flex-direction: column;
    padding: calc(50px * var(--app-scale)) calc(100px * var(--app-scale));

    &--title {
      font-size: calc(30px * var(--app-scale));
      text-align: center;
      color: $text-primary;
    }

    &--desc {
      font-size: calc(16px * var(--app-scale));
      color: $text-desc;
      margin-bottom: calc(30px * var(--app-scale));
      text-align: center;
    }

    &--products {
      display: flex;
      gap: calc(20px * var(--app-scale));
      flex-wrap: wrap;
      justify-content: center;

      .product-card {
        width: calc(270px * var(--app-scale));
      }

      .wishlist {
        padding: calc(4px * var(--app-scale));
      }
    }

    &__empty {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: calc(100px * var(--app-scale)) 0;

      p {
        font-size: calc(16px * var(--app-scale));
        color: $text-primary;
      }
    }
  }
}

@media (max-width: 768px) {
  .wishlist-wrapper {
    .wishlist {
      padding: 50px 20px;

      &--title {
        text-align: center;
      }

      &--desc {
        text-align: center;
      }

      &--products {
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@media (max-width: 500px) {
  .wishlist-wrapper {
    .wishlist {
        &--products {
          .product-card {
            width: 100%;
          }
        }
    }
  }
}
