.top-bar {
    background-color: #0e0e0e;
    height: calc(50px * var(--app-scale));
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: calc(14px * var(--app-scale));
    padding: 0 calc(115px * var(--app-scale));

    &__contact {
        display: flex;

        img {
            color: white;
            margin-right: calc(5px * var(--app-scale));
        }
    }

    &__region {
        display: flex;
        align-items: center;
        gap: calc(20px * var(--app-scale));

        img {
            height: calc(15px * var(--app-scale));
            margin-right: calc(5px * var(--app-scale));
        }
    }

    &__language {
        display: flex;
        align-items: center;
    }

    &__divider {
        height: calc(15px * var(--app-scale));
        width: calc(1px * var(--app-scale));
        background-color: white;
    }
}