@use 'variables' as *;

* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
  outline: none;
  text-transform: capitalize;
}

body {
  background-color: #f3f9ec;
  color: $text-primary;
}

input {
  text-transform: none;
}

::-webkit-scrollbar {
  width: calc(5px * var(--app-scale));
}

::-webkit-scrollbar-track {
  background: $bg-scrollbar;
}

::-webkit-scrollbar-thumb {
  background: $color-link;
  border-radius: calc(5px * var(--app-scale));
}

.custom-toast {
  border: $color-accent solid 1px !important;
  color: $color-accent !important;
}

img {
  -webkit-user-drag: none;
}
