@use 'variables' as *; 

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    outline: none;
}

body {
  background-color: $bg-body;
}

::-webkit-scrollbar {
  width: calc(5px * var(--app-scale));
}

::-webkit-scrollbar-track {
  background: $bg-scrollbar;
}

::-webkit-scrollbar-thumb {
  background: $color-link;
  border-radius: calc(5px * var(--app-scale));
}