$bg-body:            #f3f9ec;
$bg-scrollbar:      #e2e6eb;
$bg-muted:           #E0E0E0;
$bg-product-image:  #e0e0e0;
$bg-overlay:        #ffffff;
$bg-navbar:        #fafafa;

$border-checkbox:   #dbdbdb;
$border-dark:       #1F1F1F;
$border-default:    #696969;
$border-subtle:     #EAEAEC;

$color-accent:       #FEA90C;
$color-accent-hover: #0F0F0F;
$color-white:        #ffffff;
$color-link:         #222222;

$icon-inactive:     #d7d7e0;

$label-sale:        #DD3842;

$loader-primary:    #c79943;
$loader-secondary:  #eccf98;

$text-muted:        #cccccc;
$text-on-dark:      #FEEDEC;
$text-primary:      #0E0E0E;
$text-price-label:  #555555;
$text-price-sale:   #E31B0C;
$text-subtle:       #696969;
$text-desc:         #45474f;
$text-stock:        #006937;
$text-outOfStock:   #dd3842;
$text-value:        #3d3d3d;