$bg-body: #f3f9ec;
$bg-scrollbar: #e2e6eb;
$bg-muted: #e0e0e0;
$bg-product-image: #e0e0e0;
$bg-overlay: #ffffff;
$bg-navbar: #fafafa;
$bg-user: #e9ece6;
$bg-checkout: #f5f5f5;

$border-checkbox: #dbdbdb;
$border-dark: #1f1f1f;
$border-default: #696969;
$border-subtle: #eaeaec;
$border-checkout: #dedede;

$color-accent: #fea90c;
$color-accent-hover: #0f0f0f;
$color-white: #ffffff;
$color-link: #222222;
$color-star-hover: #747771;
$color-checkout-active: #005bd1;
$color-checkout-hover: #00459e;

$icon-inactive: #d7d7e0;

$label-sale: #dd3842;

$loader-primary: #c79943;
$loader-secondary: #eccf98;

$text-muted: #cccccc;
$text-on-dark: #feedec;
$text-primary: #0e0e0e;
$text-price-label: #555555;
$text-price-sale: #e31b0c;
$text-subtle: #696969;
$text-comment: #4d5574;
$text-desc: #45474f;
$text-stock: #006937;
$text-order: #1e882f;
$text-outOfStock: #dd3842;
$text-value: #3d3d3d;
$text-slogan: #92949f;
