@use '../abstracts' as *;

.featured-carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: calc(50px * var(--app-scale));
  gap: calc(10px * var(--app-scale));

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(5px * var(--app-scale));

    .wing {
      width: calc(20px * var(--app-scale));
      height: calc(20px * var(--app-scale));
    }

    p {
      font-size: calc(30px * var(--app-scale));
    }
  }

  &__text {
    color: $text-subtle;
    font-size: calc(15px * var(--app-scale));
    margin-bottom: calc(15px * var(--app-scale));
    width: calc(500px * var(--app-scale));
    text-align: center;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    gap: calc(10px * var(--app-scale));
    width: 100%;

    &:hover {
      .featured-carousel__btn {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  &__embla {
    overflow: hidden;
    width: 100%;
    min-width: 0;
    padding-right: calc(4px * var(--app-scale));

    &--container {
      display: flex;
      gap: calc(15px * var(--app-scale));
    }

    &--slide {
      flex: 0 0 calc(25% - calc(12px * var(--app-scale)));
      min-width: 0;
    }
  }

  &__btn {
    flex-shrink: 0;
    display: flex;
    width: calc(36px * var(--app-scale));
    height: calc(36px * var(--app-scale));
    align-items: center;
    justify-content: center;
    padding: calc(10px * var(--app-scale));
    border-radius: 50%;
    border: none;
    background-color: $color-accent;
    cursor: pointer;
    transition: opacity 0.3s ease;
    opacity: 0;
    pointer-events: none;

    .bi {
      font-size: calc(20px * var(--app-scale));
      color: $color-white;
      font-weight: 900;
    }

    &:disabled {
      opacity: 0 !important;
      cursor: not-allowed;
    }

    &--prev {
      transform: translateX(calc(25px * var(--app-scale)));
      scale: 1.2;
      z-index: 30;
    }

    &--next {
      transform: translateX(calc(-25px * var(--app-scale)));
      scale: 1.2;
      z-index: 30;
    }
  }

  &__btn {
    background-color: $color-accent;
  }

  &__show-all {
    background-color: $color-accent;
    color: $text-primary;
    border: none;
    padding: calc(15px * var(--app-scale)) calc(35px * var(--app-scale));
    border-radius: calc(5px * var(--app-scale));
    font-size: calc(15px * var(--app-scale));
    margin-top: calc(40px * var(--app-scale));
    transition: 0.5s ease;
    cursor: pointer;

    &:hover {
      background-color: $color-accent-hover;
      color: white;
    }
  }
}

@media (max-width: 1024px) {
  .featured-carousel {
    &__embla {
      &--slide {
        flex: 0 0 calc(50% - 7.6px);
      }
    }
  }
}

@media (max-width: 768px) {
  .featured-carousel {
    padding: 30px 5px;

    &__text {
      width: 100%;
    }

    &__wrapper {
      gap: 0;
    }

    &__embla {
      &--slide {
        flex: 0 0 100%;
      }
    }

    &__btn {
      &--prev {
        transform: translateX(15px);
      }

      &--next {
        transform: translateX(-15px);
      }
    }
  }
}
