@use '../abstracts' as *;

.image-magnifier {
  width: 100%;
  background-color: $bg-product-image;
  padding: calc(20px * var(--app-scale)) 0;
  border-radius: calc(10px * var(--app-scale));
  box-sizing: border-box;

  &__magnifier {
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: calc(1px * var(--app-scale)) solid $text-subtle;
    background-repeat: no-repeat;
    pointer-events: none;
  }
}
