.landing-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(650px * var(--app-scale));
    background-size: cover;
    padding: 0 calc(100px * var(--app-scale));
    color: var(--color-breadcrum);
    padding-top: calc(50px * var(--app-scale));

    &__left {
        display: flex;
        flex-direction: column;
    }

    &__new-arrival {
        display: flex;
        align-items: center;

        p {
            font-size: calc(14px * var(--app-scale));
            margin: 0 calc(5px * var(--app-scale));
        }
    }

    &__wing {
        height: calc(20px * var(--app-scale));
        width: calc(20px * var(--app-scale))
    }
    
    &__title {
        font-weight: 500;
        font-size: calc(35px * var(--app-scale));
        letter-spacing: calc(1px * var(--app-scale));
        margin: calc(20px * var(--app-scale)) 0;
    }

    &__text {
        color: var(--color-text-secondary);
        font-size: calc(13px * var(--app-scale));
        line-height: calc(20px * var(--app-scale));
    }

    &__actions {
        margin-top: calc(55px * var(--app-scale));
        display: flex;
        gap: calc(15px * var(--app-scale));
    }

    &__btn {
        height: calc(50px * var(--app-scale));
        border: none;
        border-radius: calc(5px * var(--app-scale));
        transition: 0.6s;
        cursor: pointer;
        font-size: calc(14px * var(--app-scale));

        &--orange {
            width: calc(125px * var(--app-scale));
            background-color: var(--color-btn);

            &:hover {
                background-color: var(--color-btn-hover);
                color: white;
            }
        }

        &--grey {
            width: calc(160px * var(--app-scale));
            background-color: var(--color-bg-body-2);

            &:hover {
                background-color: var(--color-btn);
            }
        }
    }

    &__right {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: calc(700px * var(--app-scale));
            margin-bottom: calc(50px * var(--app-scale));
            transition: 0.3s;
            position: relative;
            left: calc(50px * var(--app-scale));

            &:hover {
                transform: scale(0.9);
            }
        }
    }
}