@use '../abstracts' as *;

.loadingScreen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 100;
  background-color: $bg-body;

  &.fade-in {
    opacity: 1;
    visibility: visible;
  }

  &.fade-out {
    opacity: 0;
    visibility: hidden;
  }

  .loader {
    width: calc(88px * var(--app-scale));
    height: calc(88px * var(--app-scale));
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: $loader-secondary $loader-secondary transparent transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

  .loader::after,
  .loader::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent $loader-primary $loader-primary;
    width: calc(80px * var(--app-scale));
    height: calc(80px * var(--app-scale));
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
  }

  .loader::before {
    width: calc(62px * var(--app-scale));
    height: calc(62px * var(--app-scale));
    border-color: $loader-secondary $loader-secondary transparent transparent;
    animation: rotation 1.5s linear infinite;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(-360deg);
    }
  }
}