@use '../abstracts' as *; 

.title-wrapper {
    height: calc(300px * var(--app-scale));
    background-size: cover;
    background-position-y: calc(330px * var(--app-scale));
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    &__wing {
        height: calc(50px * var(--app-scale));
        width: calc(50px * var(--app-scale));
    }

    .title {
        display: flex;

        p {
            font-size: calc(38px * var(--app-scale));
            color: $color-white;
            margin: calc(5px * var(--app-scale));
        }
    }
}