.product-list {
    display: flex;
    padding: calc(10px * var(--app-scale)) calc(100px * var(--app-scale));
    gap: calc(20px * var(--app-scale));
    justify-content: center;

    .product-list-right {
        display: flex;
        flex-direction: column;
        gap: calc(20px * var(--app-scale));
        width: 100%;
    }

    .product-cards-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(calc(210px * var(--app-scale)), 1fr));
        gap: calc(25px * var(--app-scale)) calc(20px * var(--app-scale));
        width: 100%;
    }

    .nothing-found-wrapper {
        background-color: var(--color-white);
        height: calc(100px * var(--app-scale));
        border: 1px solid var(--color-star-product);
        display: flex;
        justify-content: center;
        align-items: center;

        &__title {
            text-align: center;
            font-weight: 500;
            text-transform: capitalize;
            color: var(--color-text-body);

            .clear-all-btn {
                color: var(--color-star-product);
                transition: 0.5s ease-in-out;
                cursor: pointer;

                &:hover {
                    color: var(--color-btn);
                }
            }
        }
    }
}