@use '../abstracts' as *;

.product-list {
    display: flex;
    padding: calc(10px * var(--app-scale)) calc(100px * var(--app-scale));
    gap: calc(20px * var(--app-scale));
    justify-content: center;
    width: 80%;

    .product-list-right {
        display: flex;
        flex-direction: column;
        gap: calc(20px * var(--app-scale));
        width: 100%;

        .active-filters-badges {
            display: flex;
            gap: 10px;

            .filter-badge {
                height: calc(50px * var(--app-scale));
                background-color: $color-white;
                border: $border-dark solid 1px;
                border-radius: 3px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: calc(15px * var(--app-scale));
                box-sizing: border-box;
                padding: 0 calc(15px * var(--app-scale));
                transition: 0.3s;

                .clear-single-filter-btn {
                    display: flex;
                    background-color: transparent;
                    border: none;
                }

                &:hover {
                    color: $color-accent;
                    cursor: pointer;
                }
            }
        }
    }

    .product-cards-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(calc(210px * var(--app-scale)), 1fr));
        gap: calc(25px * var(--app-scale)) calc(20px * var(--app-scale));
        width: 100%;
    }

    .nothing-found-wrapper {
        background-color: $color-white;
        height: calc(100px * var(--app-scale));
        border: 1px solid $border-dark;
        display: flex;
        justify-content: center;
        align-items: center;

        &__title {
            text-align: center;
            font-weight: 500;
            text-transform: capitalize;
            color: $text-primary;

            .clear-all-btn {
                color: $border-dark;
                transition: 0.5s ease-in-out;
                cursor: pointer;

                &:hover {
                    color: $color-accent;
                }
            }
        }
    }
}