.product-card {
    border: 1px solid var(--color-border-2);
    border-radius: calc(10px * var(--app-scale));
    padding: calc(10px * var(--app-scale));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    &:hover {
        cursor: pointer;

        .product-card__btn {
            background-color: var(--color-btn);
            color: white;
            border-color: var(--color-btn);
        }
    }

    &__img-wrapper {
        background-color: var(--color-product-img-bg);
        border-radius: calc(10px * var(--app-scale));
        padding: calc(20px * var(--app-scale)) 0;
        margin: calc(5px * var(--app-scale));
        width: calc(205px * var(--app-scale));
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: calc(190px * var(--app-scale));
        }
    }

    &__discount {
        position: absolute;
        top: calc(10px * var(--app-scale));
        left: calc(10px * var(--app-scale));
        z-index: 8888;
        display: flex;
        color: white;
        background-color: var(--color-label-sale);
        font-size: calc(14px * var(--app-scale));
        border-radius: calc(5px * var(--app-scale));
        padding: calc(3px * var(--app-scale)) calc(7px * var(--app-scale));
    }

    .product-card-info-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: calc(10px * var(--app-scale));
        margin: calc(20px * var(--app-scale)) 0;
        width: 100%;
    }

    &__title {
        font-size: calc(18px * var(--app-scale));
        font-weight: 500;
        color: var(--color-text-body);
    }

    &__size {
        color: var(--color-border-2);
        font-size: calc(14px * var(--app-scale));
    }

    &__stars {
        font-size: calc(14px * var(--app-scale));
    }

    &__price {
        color: var(--color-price-product);
        font-size: calc(18px * var(--app-scale));
        display: flex;
        gap: calc(15px * var(--app-scale));
        align-items: center;
    }

    &__old-price {
        text-decoration: line-through;
        color: var(--color-border-2);
        font-size: calc(14px * var(--app-scale));
    }

    &__btn {
        width: 100%;
        height: calc(40px * var(--app-scale));
        background: none;
        border: 1px solid var(--color-star-product);
        border-radius: calc(3px * var(--app-scale));
        font-size: calc(14px * var(--app-scale));
        font-weight: 400;
        cursor: pointer;
        transition: 0.4s ease-in-out;
    }
}

.product-cards-wrapper--grid-list {
    display: flex !important;
    flex-direction: column;

    .product-card {
        flex-direction: row;
        width: 100%;

        &__img-wrapper {
            width: calc(350px * var(--app-scale));
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: calc(10px * var(--app-scale));

            img {
                width: calc(350px * var(--app-scale));
            }
        }
    }
}