.promo-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(20px * var(--app-scale));
    margin-top: calc(100px * var(--app-scale));

    &__card {
        display: flex;
        flex-direction: column;
        height: calc(360px * var(--app-scale));
        width: calc(360px * var(--app-scale));
        border-radius: calc(15px * var(--app-scale));
        background-size: cover;
        gap: calc(20px * var(--app-scale));
        padding: calc(30px * var(--app-scale)) calc(15px * var(--app-scale));
        box-sizing: border-box;
    }

    &__title-container {
        display: flex;
        align-items: center;
    }

    &__tagline {
        font-size: calc(14px * var(--app-scale));
    }

    &__wing {
        height: calc(20px * var(--app-scale));
        width: calc(20px * var(--app-scale))
    }

    &__heading {
        font-size: calc(20px * var(--app-scale));
        font-weight: 500;
    }

    &__button {
        height: calc(50px * var(--app-scale));
        width: calc(130px * var(--app-scale));
        border-radius: calc(5px * var(--app-scale));
        border: calc(1px * var(--app-scale)) solid var(--color-border);
        background-color: transparent;
        font-size: calc(15px * var(--app-scale));
        transition: 0.5s;
        outline: none;

        &:hover {
            cursor: pointer;
            background-color: var(--color-border-4);
            border: calc(1px * var(--app-scale)) solid var(--color-border-4);
        }   
    }
}