@use '../abstracts' as *;

.store-features {
  display: flex;
  justify-content: center;
  gap: calc(20px * var(--app-scale));
  margin: 0 calc(95px * var(--app-scale));
  margin-top: calc(100px * var(--app-scale));

  .feature-card {
    background-color: $bg-muted;
    width: 100%;
    border-radius: calc(10px * var(--app-scale));
    padding: calc(15px * var(--app-scale));
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: calc(20px * var(--app-scale));

    &__image-wrapper {
      background-color: $color-accent;
      border-radius: 50%;
      height: calc(40px * var(--app-scale));
      width: calc(40px * var(--app-scale));
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      cursor: pointer;

      &:hover {
        animation: bounceUpDown 0.7s ease;
      }
    }

    &__img {
      height: calc(25px * var(--app-scale));
      transition: transform 0.2s ease;
    }

    &__title {
      font-size: calc(20px * var(--app-scale));
      color: $text-primary;
      font-weight: 500;
    }

    &__text {
      font-size: calc(16px * var(--app-scale));
      color: $text-desc;
      display: -webkit-box;
      margin-top: calc(10px * var(--app-scale));
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}

@keyframes bounceUpDown {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(calc(-10px * var(--app-scale)));
  }
  50% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(calc(-6px * var(--app-scale)));
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 1024px) {
  .store-features {
    margin: 10px;
    margin-top: 40px;
    flex-wrap: wrap;

    .feature-card {
      width: 45%;
      display: flex;
      text-align: center;
      align-items: center;

      &__image-wrapper {
        height: 35px;
        width: 35px;
      }

      &__img {
        height: 20px;
      }
    }
  }
}

@media (max-width: 430px) {
  .store-features {
    .feature-card {
      width: 100%;
      margin: 0 10px;
    }
  }
}
