.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 calc(10px * var(--app-scale));
    height: calc(50px * var(--app-scale));
    border: 1px var(--color-border-2) solid;
    border-radius: calc(10px * var(--app-scale));

    &__views {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: calc(20px * var(--app-scale));
    }

    &__view-btn {
        background: none;
        border: none;
        color: var(--color-toolbar-view-inactive);

        &--active {
            color: var(--color-text-body);
        }
    }

    &__count {
        font-size: calc(14px * var(--app-scale));
    }

    &__sort {
        display: flex;
        gap: calc(10px * var(--app-scale));
        align-items: center;

        label {
            font-size: calc(14px * var(--app-scale));
        }

        select {
            height: calc(30px * var(--app-scale));
            font-size: calc(14px * var(--app-scale));
            width: calc(150px * var(--app-scale));
            background-color: var(--color-border-3);
            border-radius: calc(5px * var(--app-scale));
            border: none;
            outline: none;
            appearance: none;
            text-align: center;
        }
    }
}