.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    height: 50px;
    border: 1px var(--color-border-2) solid;
    border-radius: 10px;

    &__views {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    &__view-btn {
        background: none;
        border: none;
        color: var(--color-toolbar-view-inactive);

        &--active {
            color: var(--color-text-body);
        }
    }

    &__count {
        font-size: 14px;
    }

    &__sort {
        display: flex;
        gap: 10px;
        align-items: center;

        label {
            font-size: 14px;
        }

        select {
            height: 30px;
            width: 150px;
            background-color: var(--color-border-3);
            border-radius: 5px;
            border: none;
            outline: none;
            appearance: none;
            text-align: center;
        }
    }
}